@tailwind base;
@tailwind components;
@tailwind utilities;

button {
    background-color: rgb(255, 255, 255);
    padding: 2px;
    padding: 2px 10px;
    border: 1px solid rebeccapurple;
  }

  .editable-div {
    /* border: 1px solid #ccc;
    padding: 10px;
    min-height: 300px;
    width: 100%;
    font-family: Arial, sans-serif;
    border-radius: 5px;
    background-color: #f9f9f9; */


    max-height: 350px; /* Limit height */
    overflow-y: auto;  /* Enable vertical scrolling */
    overflow-x: hidden; /* Disable horizontal scrolling */
  }

  .editable-div:focus {
    outline: 2px solid #4f7298; /* Highlight border when focused */
  }

  .stack-elements {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: aqua;
    margin-bottom: 0px;
    height: 4px;
    border-radius: 4px;
  }

  .rr {
    padding-top: 20px;
    max-width: 350px;
    min-width: 300px;
    max-height: calc(100vh - 200px);
  }

.big-bars {
  height: 30px;
  color: white;
  padding-left:20px ;
  text-shadow: 1px 1px 2px #000000;
  border-radius: 0px 4px 4px 0px;
}

.small-bars {     
  height: 4px;
}

  .rec {
    background-color: red;
  }

  .instruction {
    width: 60px;
    height: 60px;
    background-color: rgb(86, 180, 180);
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
  }

  .instruction.active {
    background-color: #ccc;
  }

  .inst {
    min-width: 550px;
    max-width: 650px;
  }

  .active {
    background-color: #88fe55;
  }